<template>
  <b-card
    no-body
    class="p-space-md"
    :class="cardClass"
    :style="cardStyle"
    @click="handleCardClick"
    @click.middle="handleCardClick"
  >
    <div :class="imageClass" class="mb-space-sm mb-lg-space-md">
      <b-img-lazy
        :src="iconSource"
        :alt="iconAlt"
        class="card-icon-height"
      ></b-img-lazy>
    </div>
    <b-card-body class="p-0">
      <h3
        v-if="displayTitle"
        class="mb-space-sm mb-md-space-md"
        :class="titleClass"
        v-html="title"
      ></h3>

      <!-- slot -->
      <div>
        <slot />
      </div>
    </b-card-body>
    <b-card-footer v-if="displayCta" class="bg-white card-footer-border p-0">
      <div class="row">
        <div class="col-12" :class="ctaAlignClass">
          <a
            :target="ctaLinkTarget"
            :class="ctaClass"
            :href="ctaLink"
            :aria-label="title"
            @click="handleClick"
            >{{ ctaText }}</a
          >
        </div>
      </div>
    </b-card-footer>
  </b-card>
</template>

<script>
import { BCard, BCardBody, BImgLazy, BCardFooter } from "bootstrap-vue";

export default {
  name: "CardIcon",
  components: {
    "b-card": BCard,
    "b-card-body": BCardBody,
    "b-img-lazy": BImgLazy,
    "b-card-footer": BCardFooter
  },
  props: {
    displayBorder: {
      type: Boolean,
      default: true
    },
    borderVariant: {
      type: String,
      default: "light"
    },
    iconSource: {
      type: String,
      required: true
    },
    iconAlt: {
      type: String,
      required: true
    },
    iconAlign: {
      type: String,
      default: "left",
      validator: (value) => {
        return value.match(/(left|center|right)/);
      }
    },
    displayTitle: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: "Lorem Ipsum"
    },
    titleSize: {
      type: String,
      default: "large"
    },
    titleVariant: {
      type: String,
      default: "dark"
    },
    titleAlign: {
      type: String,
      default: "left",
      validator: (value) => {
        return value.match(/(left|center|right)/);
      }
    },
    displayCta: {
      type: Boolean,
      default: true
    },
    ctaAsButton: {
      type: Boolean,
      default: false
    },
    ctaButtonVariant: {
      type: String,
      default: "primary"
    },
    ctaText: {
      type: String,
      default: "Lorem ipsum"
    },
    ctaTextSize: {
      type: String,
      default: "medium"
    },
    ctaTextVariant: {
      type: String,
      default: "primary"
    },
    ctaLink: {
      type: String,
      default: "https://rds.edpl.us"
    },
    ctaTextAlign: {
      type: String,
      default: "left",
      validator: (value) => {
        return value.match(/(left|center|right)/);
      }
    },
    ctaTextWeight: {
      type: String,
      default: "normal"
    },
    ctaLinkTarget: {
      type: String,
      default: "_self",
      validator: (value) => {
        return value.match(/(_blank|_parent|_self|_top)/);
      }
    },
    clickableCard: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    cardStyle() {
      const style = { cursor: this.clickableCard ? "pointer" : "default" };
      return style;
    },
    cardClass() {
      if (this.displayBorder) {
        return `border border-${this.borderVariant}`;
      }

      return "border-0";
    },
    imageClass() {
      return `text-${this.iconAlign}`;
    },
    titleClass() {
      return `h3-${this.titleSize} text-${this.titleVariant} text-${this.titleAlign}`;
    },
    ctaAlignClass() {
      return `text-${this.ctaTextAlign}`;
    },
    ctaClass() {
      let classNames = "";

      if (this.ctaAsButton) {
        classNames += `px-space-xs py-space-xxs btn btn-${this.ctaButtonVariant} `;
      }
      classNames += `text-${this.ctaTextSize} text-${this.ctaTextVariant} font-weight-${this.ctaTextWeight}`;

      return classNames;
    }
  },
  methods: {
    handleCardClick(event) {
      this.$emit("cardClick", event);
    },
    handleClick(event) {
      this.$emit("ctaClick", event);
    }
  }
};
</script>

<style lang="scss" scoped>
.card-footer-border {
  border-top: none;
}

.card-icon-height {
  height: 80px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-icon-height {
    height: 90px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-icon-height {
    height: 50px;
  }
}
</style>
