<template>
  <section>
    <section-apollo
      :image="getimage(SectionData.image)"
      :title="SectionData.title"
    >
      <p class="text-left">
        {{ SectionData.description }}
      </p>
    </section-apollo>
  </section>
</template>
<script>
import SectionApollo from "@rds/section-apollo";
export default {
  components: {
    "section-apollo": SectionApollo,
  },
  props: {
    SectionData: Object,
  },
  methods: {
    getimage(imglink) {
      return require("../assets/" + imglink);
    },
  },
};
</script>


