<template>
  <section>
    <!-- Background image -->
    <div
      :style="{
        backgroundImage: `url('${getimage('UnityUI-TopoPattern-White.png')}')`,
      }"
    >
      <div class="card-heading p-5">
        <!-- facilities title -->
        <h3 class="px-5 title text-dark">
          {{ SectionData.title }}
        </h3>
        <div
          class="bg-secondary d-block mt-3"
          style="height: 5px; width: 55px; margin-left:4%;"
        ></div>
      </div>

      <!-- facilities cards section -->
      <div class="container pb-5">
        <div class="row">
          <div class="col-12 card-deck">
            <card-icon
              v-for="data in Content.SectionFacilities.points"
              :key="data"
              :display-title="false"
              :icon-source="getimage(data.image)"
              :displayCta="false"
              :border-variant="gray - dark"
            >
              <p v-html="data.lists"></p>
            </card-icon>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import CardIcon from "../components/cardicon";
import BrandData from "../components/data.json";
export default {
  data() {
    return {
      Content: BrandData,
    };
  },
  components: {
    "card-icon": CardIcon,
  },
  props: {
    SectionData: Object,
  },
  methods: {
    getimage(imglink) {
      return require("../assets/" + imglink);
    },
  },
};
</script>
<style lang="scss" scoped>
 .title{
   @media only screen and (max-width:767px) {
     padding: 0 !important;
   }
 }
</style>
