<template>
  <section>
    <div class="container mt-5 px-3 py-5">
      <!-- section title -->
      <div class="header">
        <h3 class="text-dark" v-html="SectionData.title"></h3>
      </div>
      <!-- section description -->
      <div>
        <p class="mt-4 text-dark" v-html="SectionData.description"></p>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    SectionData: Object,
  },
};
</script>



