<template>
  <section>
    <!-- Section heading -->
    <div class="section-heading p-5">
      <h3 class="px-5 title text-dark">
        {{ SectionData.title }}
      </h3>
      <div
        class="bg-secondary d-block mt-3"
        style="height: 5px; width: 55px; margin-left: 4%"
      ></div>
    </div>

    <!-- Cards Section -->
    <div class="container pb-5">
      <div class="row">
        <div
          class="card-deck col-lg-6 col-sm-12 pb-space-sm"
          v-for="data in Content.SectionAchievements.points"
          :key="data"
        >
          <card-icon
            :display-title="false"
            :icon-source="getimage(data.image)"
            :displayCta="false"
            :border-variant="gray - dark"
          >
            <p>{{ data.lists }}</p>
          </card-icon>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import CardIcon from "@rds/card-icon";
import BrandData from "../components/data.json";
export default {
  data() {
    return {
      Content: BrandData,
    };
  },
  components: {
    "card-icon": CardIcon,
  },
  props: {
    SectionData: Object,
  },
  methods: {
    getimage(imglink) {
      return require("../assets/" + imglink);
    },
  },
};
</script>
<style lang="scss" scoped>
 .title{
   @media only screen and (max-width:767px) {
     padding: 0 !important;
   }
 }
</style>