<template>
  <section>
    <!-- Background image -->
    <div
      :style="{
        backgroundImage: `url('${getimage('UnityUI-TopoPattern-White.png')}')`,
      }"
    >
      <div class="row container discover p-5">

        <!-- discover image -->
        <div class="col-lg-4">
          <img src="../assets/Mask.png" alt="" />
        </div>
        <div class="col-lg-8 col-sm-12 bg-white border px-4">
          <h2 class="p-2 text-dark h2-medium">{{ SectionData.title }}</h2>

          <!-- Discover points -->
          <div
            class="container d-flex align-items-center p-2"
            v-for="data in Content.SectionDiscover.points"
            :key="data"
          >
            <div class="discover-bullet-image">
              <img
                src="../assets/check-solid.svg"
                alt=""
                style="background-color: #ffc627;"
                class="p-2 rounded-circle"
              />
            </div>

            <div class="discover-list">
              <ul class="text-dark list-unstyled m-0 p-2">
                <li v-html="data.lists"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import BrandData from "../components/data.json";
export default {
  data() {
    return {
      Content: BrandData,
    };
  },
  props: {
    SectionData: Object,
  },
  methods: {
    getimage(imglink) {
      return require("../assets/" + imglink);
    },
  },
};
</script>
<style lang="scss" scoped>
.discover {
  position: relative;
  left: 5%;
  @media only screen and (max-width:767px) {
    padding: 0%  !important;
  }
}
</style>