<template>
  <div id="app">
    <brand-nwt />
    <engineering-nwt />
  </div>
</template>

<script>
import BrandNwt from "./Brand-nwt";
import EngineeringNwt from "./Engineering-nwt";

export default {
  name: "App",
  components: {
    EngineeringNwt,
    BrandNwt,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
