<template>
  <div>
    <brand :SectionData="Content.SectionCallout" />
    <experience :SectionData="Content.SectionFacilities" />
  </div>
</template>
<script>

import Brand from './components/SectionCallout.vue';
import Experience from "./components/SectionFacilities.vue";
import BrandData from './components/data.json'
export default {
  components: {
    Brand,Experience,
  },
  data(){
        return {
            Content:BrandData
        }
    }
};
</script>