<template>
  <div>
    <engineering :SectionData="Content.SectionSkills" />
    <discover :SectionData="Content.SectionDiscover" />
    <achievements :SectionData="Content.SectionAchievements" />
  </div>
</template>

<script>
import BrandData from "./components/data.json";
import Engineering from './components/SectionSkills.vue'
import Discover from "./components/SectionDiscover.vue";
import Achievements from "./components/SectionAchievements.vue";

export default {
  name: "App",
  components: {
    Engineering,
    Discover,
    Achievements,
  },
  data() {
    return {
      Content: BrandData,
    };
  },
};
</script>